:root
{
    /* Background Color */
    --secondary-color : #f77949;
    --bg-blue : #37418e;
    --bg-white : #fff;
    --bg-dark-blue :#292b70;
    --bg-gray : #ecf0f9;

    /* Text Color */
    --text-black : #1f1f1f;
    --text-blue : #1f294c;
    --text-gray : #6d6e7b;
    --text-white : #fff;

    /* Fonts */
    --primary-font : 'Open Sans Condensed' , sans-serif;
    --secondary-font : 'open sans' , sans-serif;
}

@media (max-width:991.5px)
{
    /* Custom Css */

    section
    {
        padding: 20px 0;
    }
    h1
    {
        font-size: 50px;
        
    }
    h2
    {
        font-size: 30px;
        line-height: 40px;
    }
    h3
    {
        font-size: 20px;
    }

    /* Navbar */
    .header_scrolled
    {
        height: auto;
    }
    .header_wrapper .menu-navbar-nav
    {
        background-color: var(--bg-white);
        text-align: center;
        padding-bottom: 15px;
        
    } 
    .header_wrapper.nav-item .nav-link
    {
        margin-top: 15px;
    }

    .blog_wrapper .newsletter
    {
        width: 100%;
    }
   
}

@media (max-width:767px)
   {
    /* Custom CSS */
    h1
    {
        font-size: 30px;
    }
    h3
    {
        font-size: 22px;
    }
    p
    {
        font-size: 13px;
    }
    .main-btn
    {
        font-size: 12px;
        
    }
   
    
}

@media (max-width:1300px) {
    .services_wrapper .service_phone
    {
        max-width: 70%;
    }
}

@media (max-width:1199.5px) {
    .services_wrapper .service_phone
    {
        max-width: 100%;
    }
}

